@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

.placeholder-color{
      color: #ededf0ff;
      font-weight: 300;
      font-size: 0.9rem;
}